.meulabslogo {
  height: 20%;
  width: 30%;
  align-items: lefts;
  margin-left: 0px;
}
.stheading {
  text-align: center;
  font-size: 60px;
  background: -webkit-linear-gradient(whitesmoke, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}
.newhomebody {
  background: linear-gradient(120deg, #2980b9, #1710d5);
}
.newclasses {
  text-align: left;
  font-size: 40px;
  text-decoration: underline;
  color: black;
}
.class {
  min-width: 100px;
  max-height: 100px;
}
