.meulabslogo {
  height: 250px;
  width: 10px;
  align-items: center;
  margin-left: 300px;
}
.stheading {
  text-align: center;
  font-size: 60px;
  background: -webkit-linear-gradient(whitesmoke, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}
.newhomebody {
  background: linear-gradient(120deg, #2980b9, #1710d5);
}
.newclasses {
  text-align: left;
}
.newclassespic {
  width: 0px;
  
}
