nav {
  height: 55px;
}

.div-header {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;

  align-items: center;
}

.div-svg {
  height: 30px;
  width: 30px;
  padding: 0 20;
  margin-right: 1000px;
  align-items: center;
}
.active {
  border-bottom: 2px solid firebrick;
}
.button-header {
  width: 200px;
}
