.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: lightskyblue;
}

td {
  background-color: rgb(205, 235, 253);
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}
.addbutton {
  width: 20%;
  height: 10%;
  margin: 5px 0;
  background-color: dodgerblue;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 5px;
  font-weight: 900;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 5%;
}

.explorebody {
  background: linear-gradient(120deg, #2980b9, #1710d5);
}
.contactheading {
  font-size: 30px;
  margin-top: 50%;
  text-align: left;
  margin-bottom: 0px;
  color: whitesmoke;
  font-style: bold;
  background-color: #08007b;
  width: 10%;
}
.adminform input {
  width: 50%;
  margin-bottom: 0px;
  margin-top: 2px;
}
.clearbutton {
  width: 20%;
  height: 10%;
  margin: 5px 0;
  background-color: black;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 5px;
  font-weight: 900;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 5%;
}
.adminheading {
  font-size: 30px;
  margin-top: 30px;
  height: 100%;
  text-align: left;
  margin-bottom: 0px;
  color: white;
  font-style: bold;
  margin-left: 1.5%;
}
